<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pitcherseye.pitcherseye">

    <uses-permission android:name="android.permission.Internet" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Login.LoginActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Home.HomeActivity"
            android:screenOrientation="sensorLandscape"/>
        <activity android:name=".Reports.StatisticsActivity" />
        <activity android:name=".Tagging.TaggingActivity"
            android:screenOrientation="sensorLandscape"
            android:noHistory="true"/>
        <activity
            android:name=".Login.SignUpActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Reports.ReportsActivity"
            android:label="@string/title_activity_reports"
            android:theme="@style/AppTheme"
            android:screenOrientation="sensorLandscape"></activity>
    </application>

</manifest>